<a href="https://colab.research.google.com/github/by-thoma/visualization-modeling/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Предобработка датасета

Название | Описание | Формат | Шкала | Проблема | Решение
--- | --- | --- | --- | --- | ---
course id | номер для идентификации набора данных | int | номинальная | - | 
course title | название курса | str | номинальная | данный столбец бесполезен при построении модели | удаление столбца
url | URL курса | str | номинальная | данный столбец бесполезен при построении модели | удаление столбца
is paid | платный/бесплатный курс | bool | порядковая | удобнее будет работать со значениями int нежели bool | перевести bool в int 
price | цена курса в долларах | int | относительная | - | 
num subscribers | количество подписок на курс | int | относительная | - | 
num reviews | количество отзывов | int | относительная | - | 
num lectures | количество лекций | int | относительная | - |
level | уровень сложности курса | str | порядковая | текст неудобно использовать при построении модели | перевод в число
content duration | продолжительность всех материалов курса | float | относительная | - |
published timestamp | дата загрузки курса | date | относительная | нечитабельный формат даты | перевод в другой формат даты
subject | предмет курса | str | номинальная | текст неудобно использовать при построении модели | перевод в число

Есть 2 вида работы над данными:
1. перевод текста в числовые значения
2. преобразование дат в читаемый Python формат
3. удаление потенциально бесполезной информации

In [ ]:
import pandas as pd

Удалим столбцы содержащие полное название курса и url адрес курса

In [ ]:
df = pd.read_csv("udemy_courses.csv")
df = df.drop("course_title",1)
df = df.drop("url",1)
df.head()

   course_id  is_paid  ...   published_timestamp           subject
0    1070968     True  ...  2017-01-18T20:58:58Z  Business Finance
1    1113822     True  ...  2017-03-09T16:34:20Z  Business Finance
2    1006314     True  ...  2016-12-19T19:26:30Z  Business Finance
3    1210588     True  ...  2017-05-30T20:07:24Z  Business Finance
4    1011058     True  ...  2016-12-13T14:57:18Z  Business Finance

[5 rows x 10 columns]

# Столбцы level и subject

In [ ]:
df_norm = df.copy()
df_norm["level"].unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

Присвоим числовое значение каждому уровню

Значение | Число 
--- | --- 
  All levels | 0
  Beginner level | 1
  Intermediate level | 2
  Expert level | 3

In [ ]:
#def norm_level(letter: str) -> int:
#if letter == "All Levels":
 #   return 0
 # elif letter == "Intermediate Level":
  # return 2
  #elif letter == "Beginner Level":
  #  return 1
  #elif letter == "Expert Level":
   # return 3

In [ ]:
#df_norm["level"] = df_norm["level"].apply(norm_level)
#df_norm.head()

In [ ]:
df_norm["level"].unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

In [ ]:
df_norm["subject"].unique()

array(['Business Finance', 'Graphic Design', 'Musical Instruments',
       'Web Development'], dtype=object)

Значение | Число 
--- | --- 
  Business Finance | 0
  Graphic Design | 1
  Musical Instruments | 2
  Web Development | 3

In [ ]:
def norm_subject(letter: str) -> int:
  if letter == "Business Finance":
    return 0
  elif letter == "Musical Instruments":
    return 2
  elif letter == "Graphic Design":
    return 1
  elif letter == "Web Development":
    return 3

In [ ]:
#df_norm["subject"] = df_norm["subject"].apply(norm_subject)
df_norm.head()

   course_id  is_paid  ...   published_timestamp           subject
0    1070968     True  ...  2017-01-18T20:58:58Z  Business Finance
1    1113822     True  ...  2017-03-09T16:34:20Z  Business Finance
2    1006314     True  ...  2016-12-19T19:26:30Z  Business Finance
3    1210588     True  ...  2017-05-30T20:07:24Z  Business Finance
4    1011058     True  ...  2016-12-13T14:57:18Z  Business Finance

[5 rows x 10 columns]

# Столбец published_timestamp

In [ ]:
import datetime

In [ ]:
df_norm["published_timestamp"].dtype

dtype('O')

Столбец published_timestamp имеет тип object. Переведем его в datetime.

In [ ]:
df_norm["published_timestamp"] = pd.to_datetime(df_norm["published_timestamp"])
df_norm.head()

   course_id  is_paid  ...       published_timestamp           subject
0    1070968     True  ... 2017-01-18 20:58:58+00:00  Business Finance
1    1113822     True  ... 2017-03-09 16:34:20+00:00  Business Finance
2    1006314     True  ... 2016-12-19 19:26:30+00:00  Business Finance
3    1210588     True  ... 2017-05-30 20:07:24+00:00  Business Finance
4    1011058     True  ... 2016-12-13 14:57:18+00:00  Business Finance

[5 rows x 10 columns]

In [ ]:
df_norm["published_timestamp"].dtype

datetime64[ns, UTC]

# Проверка на ошибочные данные

Проверим остальные столбцы на корректность содержащихся в них данных

In [ ]:
df_norm["is_paid"].unique()

array([ True, False])

In [ ]:
df_norm["published_timestamp"].unique()

<DatetimeArray>
['2017-01-18 20:58:58+00:00', '2017-03-09 16:34:20+00:00',
 '2016-12-19 19:26:30+00:00', '2017-05-30 20:07:24+00:00',
 '2016-12-13 14:57:18+00:00', '2014-05-02 15:13:30+00:00',
 '2016-02-21 18:23:12+00:00', '2015-01-30 22:13:03+00:00',
 '2015-05-28 00:14:03+00:00', '2017-04-18 18:13:32+00:00',
 ...
 '2014-08-10 20:19:10+00:00', '2015-11-29 22:02:02+00:00',
 '2014-12-19 21:38:54+00:00', '2015-11-19 17:22:47+00:00',
 '2016-10-10 22:00:32+00:00', '2016-06-14 17:36:46+00:00',
 '2017-03-10 22:24:30+00:00', '2015-12-30 16:41:42+00:00',
 '2016-08-11 19:06:15+00:00', '2014-09-28 19:51:11+00:00']
Length: 3672, dtype: datetime64[ns, UTC]

In [ ]:
print(df_norm["num_subscribers"].max())
print(df_norm["num_subscribers"].min())

268923
0

Все значение адекватные и характерны для данного столбца

In [ ]:
price_stat = {"mean": df_norm["num_subscribers"].mean(),
            "median": df_norm["num_subscribers"].median(),
            "mode": df_norm["num_subscribers"].mode().to_list(),
            "interquartile_range": df_norm["num_subscribers"].quantile(0.75) - df_norm["num_subscribers"].quantile(0.25),
            }
price_stat

{'interquartile_range': 2435.0,
 'mean': 3197.150625339859,
 'median': 911.5,
 'mode': [0]}

Выбросами считаются значения, входящие в 5% крайних с обеих сторон процентов ранжированной выборки. Т.е. первые 5% и последние 5%. Посмотрим, какие значения попадают в эти диапазоны в этом датасете.

In [ ]:
print(df_norm["num_subscribers"].quantile(0.05))
print(df_norm["num_subscribers"].quantile(0.95))

4.0
12786.099999999988

In [ ]:
print(df_norm["num_subscribers"][df_norm.num_subscribers < 4.0].count())
print(df_norm["num_subscribers"][df_norm.num_subscribers > 12786.099999999988].count())

172
184

Курсы с очень маленьким колвом подписчиков можно удалить из датасета

In [ ]:
df_norm = df_norm[df_norm.num_subscribers > 4.0]
df_norm

      course_id  is_paid  ...       published_timestamp           subject
0       1070968     True  ... 2017-01-18 20:58:58+00:00  Business Finance
1       1113822     True  ... 2017-03-09 16:34:20+00:00  Business Finance
2       1006314     True  ... 2016-12-19 19:26:30+00:00  Business Finance
3       1210588     True  ... 2017-05-30 20:07:24+00:00  Business Finance
4       1011058     True  ... 2016-12-13 14:57:18+00:00  Business Finance
...         ...      ...  ...                       ...               ...
3673     775618     True  ... 2016-06-14 17:36:46+00:00   Web Development
3674    1088178     True  ... 2017-03-10 22:24:30+00:00   Web Development
3675     635248     True  ... 2015-12-30 16:41:42+00:00   Web Development
3676     905096     True  ... 2016-08-11 19:06:15+00:00   Web Development
3677     297602     True  ... 2014-09-28 19:51:11+00:00   Web Development

[3480 rows x 10 columns]

Т.к. пустых значений в датасете нет, столбцы содержат адекватные данные, опечаток не наблюдается, то можно считать на данный момент предобработку выполненной.

#Обработка пустых ячеек

In [ ]:
import numpy as np

In [ ]:
def nan_to_median(cell, col) -> int:
  if np.isnan(cell):
    return np.nanmedian(col)
  else:
    return cell

In [ ]:
#df["num_subscribers"] = df["num_subscribers"].apply(nan_to_median, col=df["num_subscribers"].to_list())
df_norm.head()

   course_id  is_paid  ...       published_timestamp           subject
0    1070968     True  ... 2017-01-18 20:58:58+00:00  Business Finance
1    1113822     True  ... 2017-03-09 16:34:20+00:00  Business Finance
2    1006314     True  ... 2016-12-19 19:26:30+00:00  Business Finance
3    1210588     True  ... 2017-05-30 20:07:24+00:00  Business Finance
4    1011058     True  ... 2016-12-13 14:57:18+00:00  Business Finance

[5 rows x 10 columns]

In [ ]:
df.isnull().sum()

course_id              0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

Видно, что в датафрейме нет пустых столбцов

In [ ]:
from google.colab import files
df_norm.to_csv('./df_norm.csv', sep = ',', index = False)
files.download('df_norm.csv')